<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="TransportationMean_v20">
        <wb-resource deploy-path="/" source-path="/rev0"/>
    </wb-module>
</project-modules>
